
  <div class="main-div">
    <div class="content">
      <h1>Hi, <br> </h1>
        <h2>{{ studentProfile?.first_name}} {{studentProfile?.last_name}}</h2>

      <h4>Welcome to the AUP's Online Student Concern Management System.</h4>

        <p>Please keep in mind that when submitting a concern, typing in English
          will help us understand your concern better and resolve it quicker.</p>

        <div class="links">
          <a routerLink="/submit-concern" class="btn">Submit Concern</a>
          <a routerLink="/my-concerns" class="btn2">My Concerns</a>
        </div>

    </div>
  </div>

  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <img src="robot.png" alt="" srcset="" />
        <p>Chatbot</p>
      </div>
    </header>
    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(bot.png)"></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">BOT</div>
            <div class="msg-info-time">12:45</div>
          </div>
          <div class="msg-text">
            Hi, Welcome to Concider chatbot!!!. Go ahead and send me a message. :)
          </div>
        </div>
      </div>
      <div class="msg-right-msg">
        <div class="msg-img" style="background-image: url(user.png)"></div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Coderider</div>
            <div class="msg-info-time">12:46</div>
          </div>
          <div class="msg-text">You can change your name to JS section</div>
        </div>
      </div>
    </main>
    <form class="msger-inputarea">
      <input
       type="text"
       class="msger-input"
       placeholder="Enter your message..."
       />
       <button type="submit" class="msger-send-btn">
         <i class="fa fa-paper-plane"></i>
       </button>
    </form>
  </section>


