
  <div class="main-div">
    <div class="content">
      <h1>Hi, <br> </h1>
        <h2>{{ studentProfile?.first_name}} {{studentProfile?.last_name}}</h2>

      <h4>Welcome to the AUP's Online Student Concern Management System.</h4>

        <p>Please keep in mind that when submitting a concern, typing in English
          will help us understand your concern better and resolve it quicker.</p>

        <div class="links">
          <a routerLink="/submit-concern" class="btn">Submit Concern</a>
          <a routerLink="/my-concerns" class="btn2">My Concerns</a>
        </div>

    </div>
  </div>

