<div class="main">
  <div class="header">
    <h4> Frequently Asked Questions </h4>
  </div>
  <section>
    <div class="container">
      <div class="accordion">
        <div *ngFor="let complaint of complaintService.allComplaints, let i = index">
          <input type='radio' id="{{ i }}" (change)="true" name="faq_accordion" #checkBox class="accordion__input" (click)="closeResolutionParagraph()">
          <label for="{{ i }}" class="accordion__label" *ngIf="complaint.FAQ === 1">
            {{ complaint.complaint_header }}
          </label>
          <div class="accordion__content" *ngIf="checkBox.checked && complaint.FAQ === 1">
            <p>
              Concern: <br/>
              {{ complaint.complaint_body }}
            </p>
            <button class="view-resolution-button" *ngIf="!viewResolutionParagraph" (click)="viewResolution(complaint.resolution_id)">View Resolution</button>
            <p *ngIf="viewResolutionParagraph">
              Resolution: <br/>
              {{ specificResolution.resolution_body }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

