<body>
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h3 class="mb-0 pb-3">Submit Concern</h3>
          <form #complaintForm="ngForm" id="complaintForm" (keyup)="analyzeSentient()" (ngSubmit)="onSubmitComplaint(complaintForm)" autocomplete="off">
            <input type="hidden" id="student_name" name="student_name" #student_name="ngModel" [(ngModel)]="complaintService.selectedComplaint.student_name">
            <input type="hidden" id="student_id" name="student_id" #student_id="ngModel" [(ngModel)]="complaintService.selectedComplaint.student_id">
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card">
                    <div class="center-wrap">

                      <!-- sentiment emoji div -->
                      <div id="emojiSection" style="color: black;">
                        <img *ngIf="sentimentRating < 0" src="./assets/images/sad.png" alt="sad" width="90" height="90" title="Sad">
                        <img *ngIf="sentimentRating === 0" src="./assets/images/neutral.png" alt="neutral" width="90" height="90" title="Neutral">
                        <img *ngIf="sentimentRating > 0" src="./assets/images/happy.png" alt="happy" width="90" height="90" title="Happy">
                      </div>

                        <div class="form-group mt-2">
                          <select style="margin-bottom: 10px;" name="category" id="category" [(ngModel)]="complaintService.selectedComplaint.category" required>
                            <option value="" disabled selected hidden>Select Concern Category</option>
                            <option value="Cafeteria">Cafeteria</option>
                            <option value="Dormitory">Dormitory</option>
                            <option value="Apartment">Apartment</option>
                            <option value="Communication">Communication</option>
                            <option value="Recreational Activiies">Recreational Activiies</option>
                            <option value="Off-Campus Request">Off-Campus Request</option>
                            <option value="Student Parks">Student Parks</option>
                            <option value="Work Education">Work Education</option>
                            <option value="Student Convocation">Student Convocation</option>
                            <option value="Infractions">Infractions</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                        <div class="form-group mt-2">
                          <input type="text" #complaint_header="ngModel" [(ngModel)]="complaintService.selectedComplaint.complaint_header" required
                            class="form-style"
                            placeholder="Concern Subject"
                            name="complaint_header"
                            id="complaint_header" autocomplete="none">
                          <i class="input-icon uil-comment-alt-message"></i>
                        </div>
                        <div class="form-group mt-2">
                          <textarea type="text" #complaint_body="ngModel" [(ngModel)]="complaintService.selectedComplaint.complaint_body" required
                            class="compl-style compl-style-text"
                            placeholder="Your Concern"
                            name="complaint_body"
                            id="complaint_body" autocomplete="none"></textarea>
                        </div>
                        <div class="buttons">
                          <div class="single-button cancel">
                            <button class="btn" type="button" (click)="resetcomplaintForm()">Cancel</button>
                          </div>

                          <div class="single-button submit">
                            <button class="btn" type="submit" [disabled]="!complaintForm.valid">Submit</button>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          </form>
      </div>
      </div>
  </div>
</div>
</div>
</body>


